/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.row .column {
    background-color: #ddd;
    border: 1px solid black;
    height: 100px;
    margin-right: 5px;
    margin-bottom: 5px;
 }

.row .column.matched {
    border: 1px solid white;
    background-color: white;
}

.row .column.flipped {
    text-align: center;
    background-color: white;
    color: #9b4dca;
}

.flipped div {
    padding-top: 35px;
}

.restart {
    float: right;
}
